{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Vote</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
<body class="main-bg">
    <div class="container fade-in">
        <h1>{{ question.text }}</h1>
        <form method="post">
            {% csrf_token %}
            {% for option in question.options.all %}
            <label class="option-label">
                <input type="radio" name="option" value="{{ option.id }}"> {{ option.text }}
            </label><br>
            {% endfor %}
            <br>
            <button style="background-color: rgb(255, 153, 0);" type="submit" class="btn">Submit Vote</button>
        </form>
        <a href="{% url 'index' %}" class="btn" style="margin-top: 20px; display: inline-block;">← Back to Polls</a>
    </div>
</body>
</html>
